$background-color1: #ffffff;
$background-color2: #000000;
$color1: #212121;
$color2: #000000;
$color3: #ffffff;


body {
	background: $background-color1;
}
form {
    box-shadow: 0px 0px 5px #00000036;
    border-radius: 5px;
    padding: 40px;
}
